.btn-shadow {
  background-color: #EE4D47;
  color: #ffffff;
  box-shadow: 0 1px 10px 0 rgb(238 77 71);
}
.courier-box{
  box-shadow: rgb(238 77 71) 0px 3px 8px;
  border-radius: 20px;
  padding: 10px;
  height: 325px;
}

.slide-show{
  display: flex;
    width: 10%;
    margin:0px auto;
}
.custom-slider-show{
display: flex;
width:100%;
}
.input-width{
  height:31px;
  width:100px;
}
.strike-line{
  text-decoration: line-through;
  margin-left:10px;
}
.ngx-slider .ngx-slider-tick-legend {
  position: absolute;
  top: 24px;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  max-width: 50px;
  white-space: normal;
  font-size: 10px;
  font-weight: 600;
}
.ngx-slider * {
  transition: none;
  font-size: 11px;
  font-weight: 600;
}
 .btn-cal{
   width:50px;
 }
   .custom-slider .ngx-slider .ngx-slider-bar {
      background: #ffe4d1;
      height: 5px;
    }
    .custom-slider .ngx-slider .ngx-slider-selection {
      background: orange;
    }

    .custom-slider .ngx-slider .ngx-slider-pointer {
      width: 10px;
      height: 15px;
      top: auto; /* to remove the default positioning */
      bottom: 0;
      background-color: blue;
    }

    .custom-slider .ngx-slider .ngx-slider-pointer:after {
      display: none;
    }

    .custom-slider .ngx-slider .ngx-slider-bubble {
      bottom: 14px;
    }

    .custom-slider .ngx-slider .ngx-slider-limit {
      font-weight: bold;
      color: red;
    }

    .custom-slider .ngx-slider .ngx-slider-tick {
      width: 1px;
      height: 15px;
      margin-left: 4px;
      border-radius: 0;
      background: black;
      top: -1px;
    }

    .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
      background: rgb(0, 110, 255);
    }
.list-group-item{
  border:none!important;
}
.noUi-base, .noUi-connects {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.pricing-v4_slider {
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 60px;
    padding-bottom: 100px;
    padding-left: 40px;
    position: relative;
}


.pricing-v4_info {
    max-width: 100%;
    margin-top: 0;
}
.pricing-v4_slider{
    flex: auto;
    margin: 20px;
    border-radius: 19px solid black;
}
.pricing-v4_information-block {
    background: #fff;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 30px;
}
.pricing-v4_block {
    margin-top: 30px;
    font-family: Raleway-Regular;
}
.pricing-v4_information-block h4 {
    font-size: 20px;
    line-height: 100%;
    color: #777;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 32px;
    /* font-family: Raleway-Bold; */
    padding-top: 9px;
}
.pricing-v4_information-block-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}
.mini-button {
    border-radius: 4px;
    font-weight: 700;
    color: #f15b01;
    text-transform: uppercase;
    font-family: Raleway-Bold;
}
.pricing-v4_info .row {
    margin: 0 -15px;
}

mat-slider {
    width: 300px;
  }

