label {
    color: black;
}

.ico {
    color: white !important;
    font-size: larger;
}

.fa-arrow-left {
    color: black;
    cursor: pointer;
}

table {
    width: 90%;
    font-size: 20px;
}

label {
    color: rgb(88, 88, 88);
}

.thead-bck {
    background-color: rgb(235, 73, 69);
    color: rgb(240, 240, 240);
}

.fa-trash-alt {
    color: red;
    font-size: 3vh !important;
    font-weight: 500 !important;
    cursor: pointer;
    align-items: center;
    text-align: center !important;
}

.fa-pencil-alt {
    color: rgb(54, 54, 233) !important;
    font-size: 3vh !important;
    font-weight: 500 !important;
    cursor: pointer;
}

.iconn {
    text-align: center;
}

th {
    margin-right: 1px;
    font-size: 17px;
    font-weight: 600;
}

td {
    font-size: 15px;
}

.bor {
    border-color: rgb(206, 202, 197);
    border-width: .2px;
    border-style: solid;
}

.bgb {
    background-color: #D7EFFC;
}

.fa-arrow-left {
    color: black;
    cursor: pointer;
}

.mat-expansion-panel-header {
    background-color: violet;
    width: 15px;
}

.fa-plus-circle {
    color: rgb(21, 92, 21);
    font-size: 200%;
    cursor: pointer;
}