<div class="m-4">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
    <h2 mat-dialog-title>Edit</h2>

    <Div mat-dialog-content class="mt-2">

    </Div>

    <div mat-dialog-actions class="mt-3 button">
        <button class="btn btn-sm btn-success" type="submit" [mat-dialog-close]="true">Done</button>
        <!-- <button class="btn btn-lg btn-danger" type="submit" [mat-dialog-close]="true">Cancle</button> -->
    </div>
</div>