<div class="container">
    <div class="p-5 w-100">

        <div>
            <label>Orders</label>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-4 courier-box form-group" *ngFor="let i of OrderInfo ">
                    <ul class="list-group font-size">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Order Number</div>
                            </div>
                            <span class="">{{ i.orderNumber }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Creations Date</div>
                            </div>
                            <span class="">{{ i.createdOn | date: "short"}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Expection Date </div>
                            </div>
                            <span class="">{{i.createdOn| date: "short"}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">From</div>
                            </div>
                            <span class="">{{ i.from }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">To</div>
                            </div>
                            <span class="">{{ i.to }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Status</div>
                            </div>
                            <span class="badge bg-dark rounded-pill" *ngIf="i.status==0">{{ 'Confirmed' }}</span>
                            <span class="badge bg-secondary rounded-pill" *ngIf="i.status==1">{{ 'Ready For Pickup' }}</span>
                            <!-- <span class="badge bg-primary rounded-pill" *ngIf="i.status==3">{{ 'Picked By Courier' }}</span> -->
                            <span class="badge bg-warning rounded-pill" *ngIf="i.status==4">{{ 'On The Way' }}</span>
                            <span class="badge bg-info rounded-pill" *ngIf="i.status==5">{{ 'Delivered' }}</span>
                            <span class="badge bg-success rounded-pill" *ngIf="i.status==5">{{ 'Done' }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Sender</div>
                            </div>
                            <span class="">{{ i.senderName }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Receiver</div>
                            </div>
                            <span class="">{{ i.reciverName }}</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"> Payment Status</div>
                            </div>
                            <span class="badge bg-primary rounded-pill" *ngIf="i.paymentStatus==0">{{ 'Unpaid' }}</span>
                            <span class="badge bg-success rounded-pill" *ngIf="i.paymentStatus==1">{{ 'Paid' }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Total Cost</div>
                            </div>
                            <span class="">{{ i.totalPrice }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">DriverName</div>
                            </div>
                            <span class="">{{ i.driverName }}</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start">

                            <span class="">
                <ng-template  #dialogRefForDelivery let-mydata>
                  <div class="row">
                    <div class="col-md-12">
                      <h5>Do you want deliver?</h5>
                    </div>
                  </div>
                  <!-- <mat-select class="form-control" name="CarPlate" #CarPlate="ngModel" ngModel required [(ngModel)]="cart">

                    <mat-option *ngFor="let item of drivers"  value="{{item.driverId}}">{{item.vehicle.carPlate}}</mat-option>

              </mat-select> -->
              <!-- <select class="form-control" class="form-control" name="CarPlate" #CarPlate="ngModel" ngModel required [(ngModel)]="cart"> -->
                <!-- <option *ngFor="let item of drivers" [value]="item.driverId">{{item.vehicle.carPlate}}</option> -->
              <!-- </select> -->

              <br>
              <br>
                  <div class="row">
                    <div class="col-md-6">
                      <button mat-button mat-dialog-close="I am from dialog land..." class="btn-shadow btn btn-primary btn-width form-control ml-2">Close</button>
                    </div>
                    <div class="col-md-6">
                      <!-- <button mat-button mat-dialog-close="{{cart}}" (click)="driver(cart,orderId)" class="btn-shadow btn btn-primary btn-width form-control mr-2">Confirm</button> -->
                    </div>
                  </div>
                </ng-template>
              </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    <a (click)="invoice(i.orderId)" class="btn btn-primary btn-shadow btn-width form-control">Invoice</a>
                                </div>
                            </div>
                            <span class="">
                <a (click)="details(i.orderId)" class="btn btn-primary btn-shadow btn-width form-control">Details</a>
              </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">
                                    <a href="/Company/Dashboard/order/label/{{ i.orderId}}" class="btn btn-primary btn-shadow btn-width form-control">Label</a>
                                </div>
                            </div>
                            <span class="">
                <button mat-button (click)="openTempDialogForReturn()" class="btn btn-primary btn-width form-control btn-shadow">Return</button>
                <ng-template #dialogRefForReturn let-mydata>
                  <div class="row">
                    <div class="col-md-12">
                      <h5>Do you want Cancel?</h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <button mat-button mat-dialog-close="I am from dialog land..." class="btn-shadow btn btn-primary btn-width form-control ml-2">Close</button>
                    </div>
                    <div class="col-md-6">
                      <button mat-button mat-dialog-close="I am from dialog land..." (click)="invoice(i.orderId)" class="btn-shadow btn btn-primary btn-width form-control mr-2">Confirm</button>
                    </div>
                  </div>
                </ng-template>
              </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
