  
<div class="container">

    <h1 class="heading">Our Features </h1>

    <div class="box-container">

        <div class="box">
            <img src="../../../../assets/img/gallery/tracking (3).png" alt="">
            <h3>Real Time Traking</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            
        </div>

        <div class="box">
            <img src="../../../../assets/img/gallery/rating.png" alt="">
            <h3>Choose best courier</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
       
        </div>

        <div class="box">
            <img src="../../../../assets/img/gallery/shipment.png" alt="">
            <h3>Pricing Structure</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
           
        </div>

        <div class="box">
            <img src="../../../../assets/img/gallery/fast-delivery.png" alt="">
            <h3>Fast Services</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
            
        </div>

        <div class="box">
            <img src="../../../../assets/img/gallery/package-delivery.png" alt="">
            <h3>Safety of Parceis</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
  
        </div>

        <div class="box">
            <img src="../../../../assets/img/gallery/delivery-box.png" alt="">
            <h3>Delivery Types</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, commodi?</p>
           
        </div>

    </div>

</div>