<div class="container p-5">
  <div class="d-flex justify-content-between mb-3">
    <span><h2>Best Courire</h2></span>
    <button class="btn btn-primary btn-shadow">Add Courire</button>
  </div>
  <div class="row g-2">
    <div class="col-md-3">
      <div class="card p-2 py-3 text-center courier-box">
        <div class="img mb-2">
          <img
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460224/cropped-cropped-20170720-lucuLogo-squ2-e1500543540803.png"
            width="70"
            class="rounded-circle"
          />
        </div>
        <h5 class="mb-0">Courire 1</h5>
        <small>Neurosurgeon</small>
        <div class="ratings mt-2">
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
        </div>
        <div class="mt-4 apointment">
          <button class="btn btn-primary text-uppercase btn-shadow">
            Book Appointment
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-2 py-3 text-center courier-box">
        <div class="img mb-2">
          <img
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460379/client-5.png"
            width="70"
            class="rounded-circle"
          />
        </div>
        <h5 class="mb-0">Courire 2</h5>
        <small>Cardiologist</small>
        <div class="ratings mt-2">
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="mt-4 apointment">
          <button class="btn btn-primary text-uppercase btn-shadow">
            Book Appointment
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-2 py-3 text-center courier-box">
        <div class="img mb-2">
          <img
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460379/client-5.png"
            width="70"
            class="rounded-circle"
          />
        </div>
        <h5 class="mb-0">Courire 3</h5>
        <small>Surgeon</small>
        <div class="ratings mt-2">
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="mt-4 apointment">
          <button class="btn btn-primary text-uppercase btn-shadow">
            Book Appointment
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-2 py-3 text-center courier-box">
        <div class="img mb-2">
          <img
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460379/client-5.png"
            width="70"
            class="rounded-circle"
          />
        </div>
        <h5 class="mb-0">Courire 4</h5>
        <small>Dentist</small>
        <div class="ratings mt-2">
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
        </div>
        <div class="mt-4 apointment">
          <button class="btn btn-primary text-uppercase btn-shadow">
            Book Appointment
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-2 py-3 text-center courier-box">
        <div class="img mb-2">
          <img
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460224/cropped-cropped-20170720-lucuLogo-squ2-e1500543540803.png"
            width="70"
            class="rounded-circle"
          />
        </div>
        <h5 class="mb-0">Courire 5</h5>
        <small>Eye Specialist</small>
        <div class="ratings mt-2">
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
        </div>
        <div class="mt-4 apointment">
          <button class="btn btn-primary text-uppercase btn-shadow">
            Book Appointment
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-2 py-3 text-center courier-box">
        <div class="img mb-2">
          <img
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460224/cropped-cropped-20170720-lucuLogo-squ2-e1500543540803.png"
            width="70"
            class="rounded-circle"
          />
        </div>
        <h5 class="mb-0">Courire 6</h5>
        <small>Urology</small>
        <div class="ratings mt-2">
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
        </div>
        <div class="mt-4 apointment">
          <button class="btn btn-primary text-uppercase btn-shadow">
            Book Appointment
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-2 py-3 text-center courier-box">
        <div class="img mb-2">
          <img
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460149/abof.png"
            width="70"
            class="rounded-circle"
          />
        </div>
        <h5 class="mb-0">Courire 7</h5>
        <small>Neurosurgeon</small>
        <div class="ratings mt-2">
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
        </div>
        <div class="mt-4 apointment">
          <button class="btn btn-primary text-uppercase btn-shadow">
            Book Appointment
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-2 py-3 text-center courier-box">
        <div class="img mb-2">
          <img
            src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559460269/104840a62d46c05d285762857fecb61a.png"
            width="70"
            class="rounded-circle"
          />
        </div>
        <h5 class="mb-0">Courire</h5>
        <small>company </small>
        <div class="ratings mt-2">
          <i class="fa fa-star"></i> <i class="fa fa-star"></i>
        </div>
        <div class="mt-4 apointment">
          <button class="btn btn-primary text-uppercase btn-shadow">
            Book Appointment
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
