<div class="m-4">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
    <h2 mat-dialog-title>Add New car</h2>

    <form mat-dialog-content class="mt-2" #CarForm="ngForm" (ngSubmit)="onSubmit(CarForm)">
  <div class="form-group row">
            <label for="inputCarPalte" class="col-sm-3 col-form-label">Car carPlate</label
    >
    <div class="col-sm-8">
      <input

        type="text"
        class="form-control mt-2"
        id="inputCarPalte"
        placeholder="CarPalte"
        ngModel
        name="carPlate"
        required minlength="4" #carPlate="ngModel" />
        <div *ngIf="carPlate.invalid && (carPlate.dirty || carPlate.touched)" class="mt-1">

            <div class="alert alert-danger" *ngIf="carPlate.errors?.required">
                carPlate is required.
            </div>
            <div class="alert alert-danger" *ngIf="carPlate.errors?.minlength">
                carPlate must be at lseast 4 characters long.
            </div>


        </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="inputclassfication" class="col-sm-3 col-form-label"
      >classfication</label
    >
    <div class="col-sm-8 mt-2">
      <div class="form-check form-check-inline" name="classfication">
        <input
          class="form-check-input"
          type="radio"
          id="classfication"
          value="1"
          name="classfication"
          ngModel
          checked
          required #classfication="ngModel" />

        <label class="form-check-label" for="classfication">
          <i class="fas fa-car-side"></i>
        </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="classfication" id="classfication" value="2" ngModel checked />
            <label class="form-check-label" for="classfication">
          <i class="fas fa-truck-pickup"></i>
        </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="classfication" id="classfication" value="3" ngModel checked />
            <label class="form-check-label" for="classfication">
          <i class="fas fa-truck"></i>
        </label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="classfication" id="classfication" value="4" ngModel checked />
            <label class="form-check-label" for="classfication">
          <i class="fas fa-motorcycle"></i>
        </label>
        </div>
        <!-- <input type="text" class="form-control" id="inputclassfication" placeholder="classfication"> -->

        <div *ngIf="classfication.invalid && (classfication.dirty || classfication.touched)" class="mt-1">

            <div class="alert alert-danger" *ngIf="classfication.errors?.required">
                classfication is required.
            </div>



        </div>
</div>
</div>

<div class="form-group row">
    <label for="inputcapacity" class="col-sm-3 col-form-label">capacity</label>
    <div class="col-sm-8">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">KG</span>
            </div>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="capacity" ngModel required minlength="1" #capacity="ngModel" />

            <div class="input-group-append">
                <span class="input-group-text">.00</span>
            </div>

        </div>
        <div *ngIf="capacity.invalid && (capacity.dirty || capacity.touched)" class="mt-1">

            <div class="alert alert-danger" *ngIf="capacity.errors?.required">
                capacity is required.
            </div>
            <div class="alert alert-danger" *ngIf="capacity.errors?.minlength">
                capacity must be at lseast 4 characters long.
            </div>


        </div>
    </div>
</div>

<div class="form-group row">
    <label for="inputDimension" class="col-sm-3 col-form-label">Dimension</label>
    <div class="col-sm-8">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">KG</span>
            </div>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="Dimension" ngModel required minlength="1" #Dimension="ngModel" />

            <div class="input-group-append">
                <span class="input-group-text">.00</span>
            </div>

        </div>
        <div *ngIf="Dimension.invalid && (Dimension.dirty || Dimension.touched)" class="mt-1">

            <div class="alert alert-danger" *ngIf="Dimension.errors?.required">
                Dimension is required.
            </div>
            <div class="alert alert-danger" *ngIf="Dimension.errors?.minlength">
                Dimension must be at lseast 4 characters long.
            </div>


        </div>
    </div>
</div>
<!-- <div class="form-group row">
  <label for="inputsize" class="col-sm-3 col-form-label">size</label>
  <div class="col-sm-8">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">KG</span>
          </div>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" name="size" ngModel required minlength="1" #size="ngModel" />

          <div class="input-group-append">
              <span class="input-group-text">.00</span>
          </div>

      </div>
      <div *ngIf="size.invalid && (size.dirty || size.touched)" class="mt-1">

          <div class="alert alert-danger" *ngIf="size.errors?.required">
              size is required.
          </div>
          <div class="alert alert-danger" *ngIf="size.errors?.minlength">
              size must be at lseast 4 characters long.
          </div>


      </div>
  </div>
</div> -->
<div mat-dialog-actions class="mt-3 button">
    <button [disabled]="CarForm.invalid" class="btn btn-lg btn-success" type="submit">Add</button>
    <!-- <button class="btn btn-lg btn-danger" type="submit" [mat-dialog-close]="true">Cancle</button> -->
</div>
<!-- </form> -->

<!-- </div> -->
