<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container p-0">
    <h1 class="h3 mb-3">Edit This Courire</h1>
    <div class="row">
     
        <div class="col-md-7 col-xl-8">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="account" role="tabpanel">

                    <div class="card">
                        <div class="card-header">
                          
                            <h5 class="card-title mb-0">Main Info</h5>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="inputUsername">Courire Name</label>
                                            <input type="text" class="form-control" id="inputCourirename" placeholder="Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputUsername">Courire Email</label>
                                            <input type="text" class="form-control" id="inputCourireemail" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputUsername">Total Order</label>
                                            <input type="text" class="form-control" id="inputCourireemail" placeholder="Order">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputUsername">Rating</label>
                                            <input type="text" class="form-control" id="inputCourireemail" placeholder="Rating">
                                        </div>
                                       
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-center">
                                            <img alt="Andrew Jones" src="../../../../assets/img/train.jpg" class="rounded-circle img-responsive mt-2" width="128" height="128">
                                            <div class="mt-2">
                                                <span class="btn btn-primary"><i class="fa fa-upload"></i></span>
                                            </div>
                                            <small>Edit Logo </small>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </form>

                        </div>
                    </div>

                  
                </div>
              
            </div>
        </div>
    </div>

</div>