<div class="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button mat-icon-button class="close-button" [mat-dialog-close]="true">
                  <mat-icon class="close-icon" color="warn">close</mat-icon>
                </button>

            </div>
            <div class="modal-body">
                <p>Would You LIke To Regiter First ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" routerLink="/signin" [mat-dialog-close]="true">Yes</button>
                <button type="button" class="btn btn-secondary" (click)="create()" [mat-dialog-close]="true"> No</button>
            </div>
        </div>
    </div>
</div>
