<div class="card">
    <!-- Card header -->
    <div class="card-header border-0">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="mb-0">Landing Page</h3>
            </div>
            <div class="col text-right">
                <div class="dropdown">
                    <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink2">
                        <img src="https://matame.ae/images/icons/flags/EN.png" /> English
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <li>
                            <a class="dropdown-item" href="?lang=en">
                                <img src="https://matame.ae/images/icons/flags/EN.png" /> English
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="sort" data-sort="name">Sections</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="list">
                    <tr>
                        <th scope="row">
                            <div class="project">
                                <div class="row bg-white has-shadow">
                                    <div class="left-col col-lg-4 d-flex align-items-center justify-content-between">
                                        <div class="project-title d-flex align-items-center">
                                            <div class="text">
                                                <h6 class="h4" routerLink="/Admin/Dashboard/AdminEditCustomer">Features</h6>
                                                <p>customer</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-col col-lg-4 d-flex align-items-center">
                                        <div class="time">5 Features</div>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <td class="text-right">
                            <button class="dropdown-item" routerLink="/Admin/Dashboard/AdmineditFeatures" href="">
                Edit
              </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="project">
                                <div class="row bg-white has-shadow">
                                    <div class="left-col col-lg-4 d-flex align-items-center justify-content-between">
                                        <div class="project-title d-flex align-items-center">
                                            <div class="text">
                                                <h6 class="h4"  routerLink="/Admin/Dashboard/AdminEditCourires">Available Areas</h6>
                                                <p>courire</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-col col-lg-4 d-flex align-items-center">
                                        <div class="time">Areas 12</div>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <td class="text-right">
                            <button class="dropdown-item" routerLink="/Admin/Dashboard/availableCities">
                Edit
              </button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <div class="project">
                                <div class="row bg-white has-shadow">
                                    <div class="left-col col-lg-4 d-flex align-items-center justify-content-between">
                                        <div class="project-title d-flex align-items-center">
                                            <div class="text">
                                                <h6 class="h4">Feedback</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-col col-lg-4 d-flex align-items-center">
                                        <div class="time">Questions 5</div>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <td class="text-right">
                            <button class="dropdown-item" routerLink="/Admin/Dashboard/AdminEditFeedback">
                Edit
              </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>