<div class="row">

</div>


<div class="p-5 w-100 content">
    <div class="content">
        <h3>Company's Finance</h3>
        <br>
        <div class="container">
            <div class="row">
                <!-- <div  class="col-lg-4 col-md-6 col-sm-12 col-xs-12  form-group">
                        <div class="card card-stats">
                            <div class="card-header {{c.ColorBck}} card-header-icon">
                                <div class="card-icon">
                                    <i class="ss {{c.Icon}}"></i>

                                </div>
                                <h3 class="card-category">{{c.title}}</h3>
                                <h3 class="card-title">{{c.NoDocument}}
                                </h3>
                            </div>

                            <div class="card-footer">
                                <div class="stats text-right">
                                    <button type="button" class="btn btn-primary btn-sm btn-shadowLinear" (click)="onClick(c.clickFun)">View All</button>
                                </div>

                            </div>
                        </div>
                    </div> -->

                 
                <div class="row">

                     <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                         <div class="card-header card-header-success card-header-icon"> 
                                <div class="card-icon" routerLink="Billing">
                                    <!-- <i class="material-icons">AttachMoney</i>  -->
                                    <img src="https://img.icons8.com/external-kmg-design-flat-kmg-design/32/000000/external-envelope-money-kmg-design-flat-kmg-design.png" />
                                </div>
                                <p class="card-category">Total Income</p>
                                <!-- <a href="../billing"> change</a> -->
                                <h3 class="card-title">$245 </h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">date_range</i> Last 24 Hours

                                </div>
                            </div>
                        </div>
                    </div> 


                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                    <!-- <i class="material-icons">info_outline</i>
                                         -->
                                    <img src="https://img.icons8.com/external-kmg-design-flat-kmg-design/32/000000/external-income-money-kmg-design-flat-kmg-design.png" />
                                </div>
                                <p class="card-category">Client Payment</p>
                                <h3 class="card-title">$75</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">local_offer</i> Tracked from Github
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-info card-header-icon">
                                <div class="card-icon">
                                    <!-- <i class="material-icons">account_circle</i> -->

                                    <img src="https://img.icons8.com/external-kmg-design-flat-kmg-design/32/000000/external-increase-money-kmg-design-flat-kmg-design.png" />
                                    <!-- <img src="https://img.icons8.com/external-kmg-design-flat-kmg-design/64/000000/external-profit-economy-kmg-design-flat-kmg-design-2.png"/> -->
                                </div>
                                <p class="card-category">Net Profit</p>
                                <h3 class="card-title">$34,245</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            

            </div>


        </div>


    </div>





    <div class="row flex-grow">

        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-headercard-header-warning" style="    background: linear-gradient(60deg, #ef5350, #e53935);
                      box-shadow: 0 1px 10px 0 rgb(238 77 71); ">
                    <h4 class="card-title" style="color: #eee; float: left;">Recent Report </h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>No</th>
                            <th>Client Name</th>
                            <th>Mobile Number</th>
                            <th>Status</th>
                            <th class="xx">Amount</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <td> Apollo</td>
                                <td class="xx">3140642021</td>
                                <td><span class="badge bg-success">Done</span></td>
                                <td class="xx">$23</td>
                            </tr>
                            <tr>
                                <th>2</th>

                                <td> Fireball</td>
                                <td class="xx">3140642021</td>
                                <td><span class="badge bg-danger">Cancelled</span></td>
                                <td class="xx">$43</td>
                            </tr>
                            <tr>
                                <th>3</th>

                                <td> Hades</td>
                                <td class="xx">3140642021</td>
                                <td><span class="badge bg-success">Done</span></td>
                                <td class="xx">$27</td>
                            </tr>
                            <tr>
                                <th>4</th>

                                <td> Nitro</td>
                                <td class="xx">31/06/2021</td>
                                <td><span class="badge bg-warning">In progress</span></td>
                                <td class="xx">$33</td>
                            </tr>
                            <tr>
                                <th>5</th>

                                <td> Phoenix</td>
                                <td class="xx">31/06/2021</td>
                                <td><span class="badge bg-success">Done</span></td>
                                <td class="xx">$34</td>
                            </tr>
                            <tr>
                                <th>6</th>

                                <td> X</td>
                                <td class="xx">31/06/2021</td>
                                <td><span class="badge bg-success">Done</span></td>
                                <td class="xx">$23</td>
                            </tr>
                            <tr>
                                <th>7</th>

                                <td> Romeo</td>
                                <td class="xx">31/06/2021</td>
                                <td><span class="badge bg-success">Done</span></td>
                                <td class="xx">$23</td>
                            </tr>
                            <tr>
                                <th>8</th>

                                <td> Wombat</td>
                                <td class="xx">31/06/2021</td>
                                <td><span class="badge bg-warning">In progress</span></td>
                                <td class="xx"> $39</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row flex-grow">

        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-headercard-header-warning" style="    background: linear-gradient(60deg, #ef5350, #e53935);
                      box-shadow: 0 1px 10px 0 rgb(238 77 71); ">
                    <h4 class="card-title" style="color: #eee; float: left;">Net Profit </h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>No</th>
                            <th> Order</th>
                            <th> Amount Payment</th>
                            <!-- <th>Status</th> -->
                            <th class="xx">Process</th>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <td> Apollo</td>
                                <td class="xx">
                                    <select>
                                        <option>7 Days</option>
                                        <option>14 Days</option>
                                        <option>1 Mounth</option>
                                    </select>
                                </td>
                                <!-- <td><span class="badge bg-success">Done</span></td> -->
                                <td class="xx">3 Days</td>
                            </tr>
                            <tr>
                                <th>2</th>
                                <td> Apollo</td>
                                <td class="xx">
                                    <select>
                                        <option>7 Days</option>
                                        <option>14 Days</option>
                                        <option>1 Mounth</option>
                                    </select>
                                </td>
                                <!-- <td><span class="badge bg-success">Done</span></td> -->
                                <td class="xx">3 days</td>
                            </tr>
                            <tr>
                                <th>3</th>
                                <td> Apollo</td>
                                <td class="xx">
                                    <select>
                                        <option>7 Days</option>
                                        <option>14 Days</option>
                                        <option>1 Mounth</option>
                                    </select>
                                </td>
                                <!-- <td><span class="badge bg-success">Done</span></td> -->
                                <!-- <td class="xx">$23</td> -->
                            </tr>
                         
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



</div>
