<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"><img src="assets/img/gallery/87382502.png" height="50" alt="..." /></a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>

        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>
<mat-tab-group mat-align-tabs="start" animationDuration="1000ms" class="m-3 mat-elevation-z8 ">
    <mat-tab>
        <ng-template mat-tab-label>
            <i class="fas fa-user-alt mr-2"></i> Profile
        </ng-template>
        <div class="m-2 ">

            <div class="text-center pt-1 ">
                <label>Profile Information</label>

            </div>

            <div class="row ">
                <div class="col-6 text-end ">
                    <img class="imgg rounded " [src]="url "><br><br>

                </div>
                <div class="col-6 ">
                    <div class="row ">
                        <div class="d-flex col-12 ">
                            <span class=" lbl ">Name : </span>
                            <span class="ml-2 "> Ahmed Salah</span>

                        </div>
                    </div>
                    <div class="row ">
                        <div class="d-flex col-12 ">
                            <span class=" lbl ">Adress : </span>
                            <span class="ml-2 "> 161 dubai</span>

                        </div>
                    </div>
                    <div class="row ">
                        <div class="d-flex col-12 ">
                            <span class=" lbl ">Phone : </span>
                            <span class="ml-2 ">0505853842</span>

                        </div>
                    </div>
                    <div class="row ">
                        <div class="d-flex col-12 ">
                            <span class=" lbl ">Email : </span>
                            <span class="ml-2 ">a.salah@gmail.com</span>

                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">thumb_up</mat-icon>
            Order
        </ng-template>
        <div class="m-2 text-center ">

            <div class="text-center pt-1 ">
                <label>Orders</label>

            </div>
            <div class="card text-center w-50" style="height: 280px;">
                <div class=" card-header d-flex flex-row flex-nowrap justify-content-between ">
                    <span class="cardhead com ">Complete</span>
                    <span class="cardhead ">2 Month</span>
                </div>
                <div class="card-body ">
                    <div class="row no-gutters ">
                        <div class="col-auto ">
                            <img src="../../../assets/img/gallery/sq.jpg " class=" mt-2 ml-1 " alt=" " style="max-height: 100px; width: auto; " />
                        </div>
                        <div class="col-auto ">
                            <div class="card-block pt-2 ">
                                <p class="card-text align-text-bottom pt-3 ml-2 ">
                                    Company Name
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer footcard ">
                    $ 50
                </div>
            </div>
            <div class="card text-center w-50 " style="height: 280px;">
                <div class="card-header d-flex flex-row flex-nowrap justify-content-between ">
                    <span class="cardhead com ">Complete</span>
                    <span class="cardhead ">2 Month</span>
                </div>
                <div class="card-body ">
                    <div class="row no-gutters ">
                        <div class="col-auto ">
                            <img src="../../../assets/img/gallery/petter.png " class=" mt-2 ml-1 " alt=" " style="max-height: 280px; width: auto; " />
                        </div>
                        <div class="col-auto ">
                            <div class="card-block pt-2 ">
                                <p class="card-text align-text-bottom pt-3 ml-2 ">
                                    Company Name
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer footcard ">
                    $ 50
                </div>
            </div>
            <div class="card text-center w-50 " style="height: 280px;">
                <div class="card-header d-flex flex-row flex-nowrap justify-content-between ">
                    <span class="cardhead com ">Complete</span>
                    <span class="cardhead ">2 Month</span>
                </div>
                <div class="card-body ">
                    <div class="row no-gutters ">
                        <div class="col-auto ">
                            <img src="../../../assets/img/gallery/shipment.png" class=" mt-2 ml-1 " alt=" " style="height: auto; width: 70%; " />
                        </div>
                        <div class="col-auto ">
                            <div class="card-block pt-2 ">
                                <p class="card-text align-text-bottom pt-3 ml-2 ">
                                    Company Name
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer footcard ">
                    $ 50
                </div>
            </div>

        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon ">thumb_up</mat-icon>
            Rates
        </ng-template>sdfvdsd
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon ">thumb_up</mat-icon>
            Setting
        </ng-template>
        <div class="m-2 ">

            <div class="tab-pane fade" id="v-pills-card" role="tabpanel" aria-labelledby="v-pills-card-tab">sssss</div>

            <div class="text-center pt-1 ">
                <label>Setting</label>

            </div>
            <div class="text-end mr-2 ">
                <button class="btn btn-sm btn-primary ">Change Password</button>

            </div>
            <hr>

            <div class="row ">
                <div class="col-6 text-end ">
                    <img class="imgg rounded " [src]="url "><br><br>
                    <input type="file" (change)="selectFile($event) " />

                </div>
                <div class="col-6 ">
                    <div class="row ">
                        <div class="d-flex col-12 ">
                            <span class=" lbl ">Name : </span>

                            <input class="form-control ml-2 w-50 " type="text " name="pric ">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="d-flex col-12 ">
                            <span class=" lbl ">Adress : </span>
                            <input class="form-control ml-2 w-50 " type="text " name="pric ">

                        </div>
                    </div>
                    <div class="row ">
                        <div class="d-flex col-12 ">
                            <span class=" lbl ">Phone : </span>
                            <input class="form-control ml-2 w-50 " type="text " name="pric ">

                        </div>
                    </div>
                    <div class="row ">
                        <div class="d-flex col-12 ">
                            <span class=" lbl ">Email : </span>
                            <input class="form-control ml-2 w-50 " type="text " name="pric ">

                        </div>
                    </div>

                    <div class="row ">
                        <div class="d-flex col-12 ">
                            <span class=" lbl ">Address : </span>
                            <input class="form-control ml-2 w-50 " type="text " name="pric ">

                        </div>
                    </div>
                </div>
            </div>



            <div class="text-center mt-3 mb-3 ">
                <button class="btn btn-lg btn-success " (click)="change() ">{{ChangeTXT}}</button>
            </div>
            <br>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon ">thumb_up</mat-icon>
            Payment
        </ng-template>sdfvdsd
    </mat-tab>
</mat-tab-group>