
<div class="row">

</div>

<div class="p-5 w-100 content">
    <div class="content">
        <br>
        <div class="container">
            <div class="row">
            
                <div class="row">
           
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <!-- <i class="material-icons">AttachMoney</i> -->
                                   
                                    <!-- import AttachMoneyIcon from '@mui/icons-material/AttachMoney'; -->
                                    <img src="https://img.icons8.com/external-kmg-design-flat-kmg-design/32/000000/external-envelope-money-kmg-design-flat-kmg-design.png"/>
                                </div>
                                <p class="card-category">Current monthly bill</p>
                                <h3 class="card-title">$20.00 </h3>

                                
                                
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    
                                    <a class="text-arrow-icon small text-warning" href="#!">
                                        Switch to yearly billing
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    

                    <div class="col-lg-4 col-md-6 col-sm-6" >
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                    <!-- <i class="material-icons">info_outline</i>
                                     -->
                                     
                                     <img src="https://img.icons8.com/external-kmg-design-flat-kmg-design/32/000000/external-income-money-kmg-design-flat-kmg-design.png"/>
                                </div>
                                <p class="card-category">Next payment due </p>
                                <h3 class="card-title">July 15</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <a class="text-arrow-icon small text-secondary" href="#!">
                                        View payment history
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </a>`                      
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-info card-header-icon">
                                <div class="card-icon">
                                    <!-- <i class="material-icons">account_circle</i> -->
                                    
                                    <img src="https://img.icons8.com/external-kmg-design-flat-kmg-design/32/000000/external-increase-money-kmg-design-flat-kmg-design.png"/>
                                    <!-- <img src="https://img.icons8.com/external-kmg-design-flat-kmg-design/64/000000/external-profit-economy-kmg-design-flat-kmg-design-2.png"/> -->
                                </div>
                                <p class="card-category">Current plan</p>
                                <h3 class="card-title">$34,245</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <a class="text-arrow-icon small text-success" href="#!">
                                        Upgrade plan
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </a>
                                                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>




        <div class="row flex-grow">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-headercard-header-warning" style=" background: linear-gradient(60deg, #ef5350, #e53935);
                  box-shadow: 0 1px 10px 0 rgb(238 77 71); " >
                      <h4 class="card-title" style="color: #eee; float: left;">Current Monthly Bill </h4> 
                  </div>
              <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                            <tr>
                                <th class="border-gray-200" scope="col">Bank Name </th>
                                <th class="border-gray-200" scope="col">IBAN Number</th>
                                <th class="border-gray-200" scope="col">Account Number</th>
                                <th class="border-gray-200" scope="col">Account Holder Name</th>
                                <th class="border-gray-200" scope="col">Attachments</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>ADIB</td>
                                <td>44515677021</td>
                                <td>8687787</td>
                                <td>Wassan</td>
                                <td>Add</td>
                            </tr>
                            <tr>
                                <td>NBD</td>
                                <td>44515677021</td>
                                <td>8687787</td>
                                <td>Noor</td>
                                <td>Add</td>
                            </tr>
                            <tr>
                                <td>Sharjah Islamic Bank</td>
                                <td>44515677021</td>
                                <td>8687787</td>
                                <td>Hagar</td>
                                <td>Add</td>
                            </tr>
                         
                            <tr>
                                <td> Al Mashriq</td>
                                <td>44515677021</td>
                                <td>8687787</td>
                                <td>Ahmad</td>
                                <td>Add</td>
                            </tr>
                         
                        </tbody>
                      </table>
              </div>
              </div>
          </div>
          </div>

         <!-- Payment methods card-->
        <div class="card card-header-actions mb-4">
        <div class="card-headercard-header-warning" style="background: linear-gradient(60deg, #ef5350, #e53935);
        box-shadow: 0 1px 10px 0 rgb(238 77 71);" >
            <h4 class="card-title" style="color: #eee; float: left;"> Payment Methods </h4> 
        </div>
        <br>
       

        <div class="card-body px-0">
            <!-- Payment method 1-->
            <div class="d-flex align-items-center justify-content-between px-4">
                <div class="d-flex align-items-center">
                     <i class="fab fa-cc-visa fa-2x cc-color-visa"></i>
                    <div class="ms-4">
                        <div class="small">Visa ending in 1234</div>
                        <div class="text-xs text-muted">Expires 04/2024</div>
                    </div>
                </div>
                <div class="ms-4 small">
                    <div class="badge bg-light text-dark me-3">Default</div>
                    <a href="#!">Edit</a>
                </div>
            </div>
            <hr>
            <!-- Payment method 2-->
            <div class="d-flex align-items-center justify-content-between px-4">
                <div class="d-flex align-items-center">
                    <i class="fab fa-cc-mastercard fa-2x cc-color-mastercard"></i>
                    <div class="ms-4">
                        <div class="small">Mastercard ending in 5678</div>
                        <div class="text-xs text-muted">Expires 05/2022</div>
                    </div>
                </div>
                <div class="ms-4 small">
                    <a class="text-muted me-3" href="#!">Make Default</a>
                    <a href="#!">Edit</a>
                </div>
            </div>
            <hr>
            <!-- Payment method 3-->
            <div class="d-flex align-items-center justify-content-between px-4">
                <div class="d-flex align-items-center">
                    <i class="fab fa-cc-amex fa-2x cc-color-amex"></i>
                    <div class="ms-4">
                        <div class="small">American Express ending in 9012</div>
                        <div class="text-xs text-muted">Expires 01/2026</div>
                    </div>
                </div>
                <div class="ms-4 small">
                    <a class="text-muted me-3" href="#!">Make Default</a>
                    <a href="#!">Edit</a>
                </div>
            </div>
        </div>


        <!-- <button class="btn btn-sm btn-success" type="button" (click)="addPayment()">Add Payment Method</button> -->

    </div>
      

         
          <div class="row flex-grow">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-headercard-header-warning" style=" background: linear-gradient(60deg, #ef5350, #e53935);
                  box-shadow: 0 1px 10px 0 rgb(238 77 71); " >
                      <h4 class="card-title" style="color: #eee; float: left;">Billing History </h4> 
                  </div>
              <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                            <tr>
                                <th class="border-gray-200" scope="col">Transaction ID</th>
                                <th class="border-gray-200" scope="col">Date</th>
                                <th class="border-gray-200" scope="col">Amount</th>
                                <th class="border-gray-200" scope="col">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>#39201</td>
                                <td>06/15/2021</td>
                                <td>$29.99</td>
                                <td><span class="badge bg-light text-dark">Pending</span></td>
                            </tr>
                            <tr>
                                <td>#38594</td>
                                <td>05/15/2021</td>
                                <td>$29.99</td>
                                <td><span class="badge bg-success">Paid</span></td>
                            </tr>
                            <tr>
                                <td>#38223</td>
                                <td>04/15/2021</td>
                                <td>$29.99</td>
                                <td><span class="badge bg-success">Paid</span></td>
                            </tr>
                            <tr>
                                <td>#38125</td>
                                <td>03/15/2021</td>
                                <td>$29.99</td>
                                <td><span class="badge bg-success">Paid</span></td>
                            </tr>
                        </tbody>
                      </table>
              </div>
              </div>
          </div>
          </div>
        
     

    </div>
</div>
