<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<div mat-dialog-content class="">

<link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="osahan-account-page-left shadow-sm bg-white h-100">
                <div class="border-bottom p-4">
                    <div class="osahan-user text-center">
                        <div class="osahan-user-media">
                            <img class="mb-3 rounded-pill shadow-sm mt-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTjfJR4vBidMvmjPtUxCV2tng1AwEVEy8RPQ&usqp=CAU" alt="gurdeep singh osahan">
                            <div class="osahan-user-media-body">
                                <h6 class="mb-2">Gurdeep Singh</h6>
                                <p class="mb-1">+91 85680-79956</p>
                                <p>iamosahan@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-6">
            <div class="row">
             <div class="col-md-6">
                 <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
           
              <img src="https://cdn-icons-png.flaticon.com/512/1763/1763477.png" class="img-circle circle-border m-b-md"  style="width: 50px;" 
              alt="profile">
              
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="m-b-md">
                          <h6 class="font-bold">Total Income   </h6>
                          <small>300$</small>
                 
              </div>
          </div>
          </div>
          </div>
               
                <div class="col-md-6">
                    <div class="row">
             <div class="col-lg-3 col-md-6 col-sm-6">
              
                 <img src="https://cdn-icons-png.flaticon.com/512/1875/1875422.png" class="img-circle circle-border m-b-md"  style="width: 50px;" 
                 alt="profile">
                 
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6">
                         <div class="m-b-md">
                             <h6 class="font-bold"> Net Profit   </h6>
                             <small>34,7$ </small>
                    
                 </div>
             </div>
             </div>
             </div>
            </div>
            <br>
            <br>
            <div class="row">
             <div class="col-md-6">
                 <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
           
              <img src="https://cdn-icons-png.flaticon.com/512/1763/1763436.png" class="img-circle circle-border m-b-md"  style="width: 50px;" 
              alt="profile">
              
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="m-b-md">
                          <h6 class="font-bold">Current Plan   </h6>
                          <small>  34.00$</small>
                 
              </div>
          </div>
          </div>
          </div>
                <div class="col-md-6">
                    <div class="row">
             <div class="col-lg-3 col-md-6 col-sm-6">
              
                 <img src="https://cdn-icons-png.flaticon.com/512/1763/1763471.png" class="img-circle circle-border m-b-md"  style="width: 50px;" 
                 alt="profile">
                 
             </div>
             <div class="col-lg-3 col-md-6 col-sm-6">
                         <div class="m-b-md">
                             <h6 class="font-bold"> Client Payment:  </h6>
                             <small>30,4$</small>
                    
                 </div>
             </div>
             </div>
             </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-8">
                    <H6> BILLING HISTORY  / 01/12/2021 /  PAID </H6>
                    <H6> NEXT PAYMENT DUE     /12 MAY </H6>
                </div>
                <div class="col-lg-4">
                    <h6>CURRENT MONTHLY BILL:</h6>
                    <P>199$</P>
                </div>
            </div>
     </div> 
       
    </div>
 
   
</div>
</div>