
.foo{
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(114, 113, 113);
}

.block{
    box-sizing: border-box;
    height: inherit;
    background-color: #fadfc7;
    background-image: url("/courier-software/src/assets/img/logo.png") no-repeat fixed center;
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
}
.iimg{
    padding-top: 5px;
    size: 0ch;
}
.d-flex {
    color: black;
    padding-top: 10px;
}